#information-form {
  #form-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #form {
      width: 30%;
      .errorMessage {
        color: red;
        font-weight: bold;
      }
      .passwordErrorMessage {
        color: red;
        font-weight: bold;
      }
    }
  }
}

#PatientCards {
  margin-top: 100px;
  #ScrollableDiv {
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    .card {
      margin-left: 5%;

      .card-img-top {
        width: 100%;
      }
    }
  }
}
